name: PR Triage

on:
  pull_request:
    types: [opened, synchronize, ready_for_review, reopened]

permissions:
  contents: read

jobs:
  triage:
    name: Triage
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - id: get-workflow-access-token
        name: Get Workflow Access Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          permission-contents: read
          permission-pull-requests: write
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          ref: ${{ github.head_ref }}
          token: ${{ steps.get-workflow-access-token.outputs.token }}

      - name: Label PRs
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          configuration-path: .github/labeler.yaml
          repo-token: ${{ steps.get-workflow-access-token.outputs.token }}

      - name: Assign PRs
        uses: kentaro-m/auto-assign-action@a6d59add3a817df08cafa9b166367768d2c337f8 # v2.0.1
        with:
          configuration-path: .github/auto-assign.yaml
          repo-token: ${{ steps.get-workflow-access-token.outputs.token }}
