# Update repository settings to match the definitions in .github/settings.yml.
---
name: Update Repo Settings

on:
  push:
    branches: [main]
  schedule:
    - cron: '55 2 * * *' # Every day at 02:55 UTC
  workflow_call:
    secrets:
      APPLICATION_ID:
        description: GitHub App ID
        required: true
      APPLICATION_PRIVATE_KEY:
        description: GitHub App private key
        required: true
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read

jobs:
  update-repo-settings:
    name: Update Repository Settings
    runs-on: ubuntu-latest
    steps:
      - if: github.event_name == 'push'
        name: Checkout Repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: filter
        if: github.event_name == 'push'
        name: Filter Changed Files
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: |
            changes:
              - 'common-settings.yaml'
              - '.github/settings.yml'
              - '.github/workflows/update-repo-settings.yaml'

      - id: get-workflow-access-token
        if: github.event_name != 'push' || steps.filter.outputs.changes == 'true'
        name: Get Workflow Access Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}

      - env:
          GITHUB_TOKEN: ${{ steps.get-workflow-access-token.outputs.token }}
        if: github.event_name != 'push' || steps.filter.outputs.changes == 'true'
        name: Update Repository Settings (${{ github.repository }})
        uses: elstudio/actions-settings@2c3fbed35fa2692a1625b1360de608906fc5c103 # v3-beta
